<div class="container">
<h1>Challenges</h1>
#games size <%=@games.size%> #current player <%=session[:player].name%>
<table>
  <tr>
  <th>Game</th>
  <th>Player</th>
  <th>Player</th>

  </tr>
<%@games.each do |game| %>
  <%game=Game.find(game.id)%>
  <tr>
    <td><%=game.id%>
    <td><%=game.players[0].name%></td>
    <td><%=game.players[1].name%></td>
    <td><%=link_to 'Accept challenge',:controller=>"game",:action=>"join_game",:id=>game.id%></td>
  </tr>

<%end %>
</table>
