 
 <%= javascript_include_tag "game/game" %>
<script>
 
</script>  
<div class="game_number"> Game #<%=session[:current_game]%> </div>
<h1 id="turn"> YOU'RE TURN </h1>
<div class="result" id="result">
  <h1 class="title"> played words</h1>
  
  <div id="resultTable" class="resultTable"size="<%=@game.playedWords.size%>"> 
  <div class="thead" ><span>Player</span>
      <span>Word</span>
     <span>score</span>         
    </div>
<%if(@game.playedWords)%>
<%@game.playedWords.size.times do |i| %>      
    <div id=<%=i%>"row" >
    <span id="name"<%=i%>><%=@game.playedWords[i].player.name%></span>
    <span id="word"<%=i%>><%=@game.playedWords[i].word%></span>
     <span id="score"<%=i%>><%=@game.playedWords[i].word.length%></span>
    </div>
  <%end%>
    <%end%> 
    </div>
  
</div>

<table id="grid">
  <%  @game.size.times do |i| %>
    <tr>

      <%  @game.size.times do |j| %>
        <% if(@game.grid[i][j]) %>
       <td  id='target<%=  "#{i}.#{j}"%>'played="true"><%= @game.grid[i][j] %></td>
        <%else%>
      <td  id='target<%=  "#{i}.#{j}"%>' onclick="word(<%=i%>,<%=j%>)" played="true"><%= @game.grid[i][j] %></td>
        <%end%> 
     <%end%>
    </tr>
  <%end%>
</table>

<button id="pass" onclick="pass()">Pass</button>

<div id="dialog">

<label >Letter</label>
<input type="text" name="letter" id="letter" length="1" maxlength="1" />
<label >Word</label>
<input type="text" name="word" id="given_word" />

<input type='button' id='submit'value='submit' onclick=""/>
<input type="button" value="close" onclick="closeNow()"/>
</div>

