<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1> Sign in  </h1>



<%= form_tag("menu", :method => "post") do %>
  <%= label_tag(:name, "Name:") %>
  <%= text_field_tag(:name) %>
<p> <%= submit_tag("Sign in ") %></p>

<% end %>
<div>
<%=button_to "create a new player",new_player_path,{:method => :get }%>
</div> 