<!DOCTYPE html>
<html>
<head>
  <title>SnakeWords</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header"> SNAKE WORDS</div>
  <div  class="sign_out" ><%= link_to "Sign out", "/menu/signout"%> </div>
  <div  class="back_to_menu" ><%= link_to "Back to menu", "/menu/menu"%> </div>
  
<div class="notice"><%=flash[:notice]%> </div>
<div class="error"><%=flash[:error]%> </div>
<%= yield %>

</body>
</html>